<!DOCTYPE html>
<html>
  <head>
    <title>AppointmentSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <div style="display: flex; justify-content: space-between; margin: 25px">
        <%= link_to 'Home', root_url %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-button' %>
      </div>
    <% end %>
    <div style="margin: 25px;">
      <%= yield %>
    </div>
  </body>
</html>
